@import '../mixins.scss';

.bar{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    background-color: #777;
    transition: all .3s;

    &:last-child{
        margin-right: 0;
    }

    &.faded-by-default{
        opacity: .5;
    }

    &.active {
        opacity: 1;
    }

    &.selected::before {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        // width: 6px;
        // height: 6px;
        // background-color: black;
        @include triangle(15px, down, #aaa);
    }

    &.secondary-selected {
        background-color: blue !important;
    }

    &.not-found {
        background-color: red !important;
    }

    &.found {
        background-color: green !important;
    }

    &.done {
        background-color: black !important;
    }
}
