@import '../mixins.scss';
@import '../../../variables.scss';

.node{
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 18px;
    margin-right: 10px;
    color: white;
    background-color: #777;
    border-radius: 50%;
    transition: all .3s;

    &:last-child{
        margin-right: 0;
    }

    &.faded-by-default{
        opacity: .5;
    }

    &.active {
        opacity: 1;
    }

    &.selected::before {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        // width: 6px;
        // height: 6px;
        // background-color: black;
        @include triangle(15px, down, $creamy-red);
    }

    &.secondary-selected {
        background-color: blue !important;
    }

    &.not-found {
        background-color: red !important;
    }

    &.found, &.done {
        background-color: green !important;
    }
}
