@import '../../css/variables';
@import '../../css/mixins';

.splash__text-wrap{
    width: 640px;
    @include center;
}
.splash__header{
    margin-bottom: 60px;
}
.links__wrap{
    display: flex;
}
.links__column{
    padding: 0 15px;
    flex-grow: 1;
    text-align: left;
}
.links__header{
    font-weight: 700;
    margin-bottom: 10px;
}
.links__border{
    height: 6px;
    background-image: url('../../images/checker.png');
    background-size: 4px auto;
    margin-bottom: 10px;
}
.links__single{
    display: block;
    line-height: 1.8;
    color: $creamy-red;
    text-decoration: none;
    transition: 0.3s all;

    &:hover{
        color: white;
    }
}
