@import './css/variables';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: $primary-red;
    color: $creamy-red;
    font-size: 14px;
}

#root,
.App,
.transition-wrap > div,
.transition-wrap > div > div
{
    height: 100%;
}

.transition-wrap {
}


.border-wrap{
    min-height: 100%;
    border: 12px solid $creamy-red;
    background-image: url('images/algodiamond.svg');
    background-repeat: no-repeat;
    background-size: auto 150%;
    background-position: center center;
}

h1{
    margin: 0 0 20px;
    font-size: 70px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.1;
}


.minilink {
    position: relative;
    cursor: pointer;
    margin: 0 20px;
    padding: 7px 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    transition: .3s all;

    &:before{
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: white;
        opacity: .3;
    }
    &:after{
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: white;
        opacity: 1;
        transform: scale(0, 1);

        transition: .3s all;
    }
    &:hover{
        color: white;
    }
    &:hover:after{
        transform: scale(1, 1);
    }
}

.back-arrow {
    position: absolute;
    top: 30px;
    left: 40px;
    opacity: 0.7;
    transition: 0.3s all;

    &:hover {
        opacity: 1;
        transform: translateX(-5px);
    }
}

.diamond-holder{
    opacity: 0.15;
    position: absolute;
    height: 95%;
    width: 100%;
}
