@import './variables';

* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: $primary-red;
    color: $creamy-red;
    font-size: 14px;
}
#root, .App{
    height: 100%;
}

.border-wrap{
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    border: 12px solid $creamy-red;
    background-image: url('images/diamond-faded.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

h1{
    margin: 0 0 20px;
    font-size: 70px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.1;
}


.minilink {
    position: relative;
    cursor: pointer;
    margin: 0 20px;
    padding: 7px 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    transition: .3s all;

    &:before{
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: white;
        opacity: .3;
    }
    &:after{
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: white;
        opacity: 1;
        transform: scale(0, 1);

        transition: .3s all;
    }
    &:hover{
        color: white;
    }
    &:hover:after{
        transform: scale(1, 1);
    }
}
