.binary-search{
    padding-top: 150px;
}
.binary-search-wrap{
    margin: 0 auto;
    height: 50px;
    margin-bottom: 50px;
}

.binary-search__searched-value{
    font-size: 72px;
    margin-bottom: 30px;
}

.binary-search__box-wrap{
    position: relative;
}


.binary-search__sort-button{
    padding: 5px 15px;
}
