@import '../../css/mixins';

.binary-search{
    @include center;
}

.binary-search-wrap{
    margin: 0 auto;
    height: 50px;
    margin-bottom: 50px;
}

.binary-search__searched-value{
    font-size: 18px;
    margin-bottom: 30px;
}

.binary-search__box-wrap{
    position: relative;
}


.binary-search__sort-button{
    padding: 5px 15px;
}
